.ss-course-card {
    margin: 15px 15px;
}

.ss-card-check-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    color: green;
}

.ss-card-check-icon:hover {
    color: darkgreen;
}

.ss-card-times-icon {
    position: absolute;
    top: 30px;
    right: 55px;
    color: red;
}

.ss-card-times-icon:hover {
    color: darkred;
}

.ss-cc-edit-row {
    padding-top: 130px;
    padding-right: 20px;
}

.ss-cc-edit-icon {
    color: blue;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ss-cc-course-button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}