.ss-course-card {
    margin: 25px 25px;
}
.ss-card-check-icon {
    position: absolute;
    top: 15px;
    right: 15px;
}

.ss-card-times-icon {
    position: absolute;
    top: 15px;
    right: 35px;
}