.ss-course-card {
    margin: 25px 25px;
}
.ss-card-check-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    color: green;
}

.ss-card-check-icon:hover {
    color: darkgreen;
}

.ss-card-times-icon {
    position: absolute;
    top: 30px;
    right: 55px;
    color: red;
}

.ss-card-times-icon:hover {
    color: darkred;
}

@media screen and (max-width: 835px) and (min-width: 565px) {
    .ss-last-modified-col {
        display: none;
    }
}

@media screen and (max-width: 565px) {
    .ss-last-modified-col {
        display: none;
    }

    .ss-owned-by-col {
        display: none;
    }
}
