.ss-grid-header-row {
    padding-top: 20px;
    padding-left: 15px;
}

.ss-grid-header-icon {
    padding: 10px;
}

@media screen and (max-width: 835px) and (min-width: 565px) {
    .ss-cg-recent-document-col {
        display: none;
    }
}

@media screen and (max-width: 565px) {
    .ss-cg-recent-document-col {
        display: none;
    }

    .ss-cg-owned-by-col {
        display: none;
    }
}
