/* 57 + 20 + 20 + 3 */
.ss-title-col {
    width: 52%;
}

.ss-owned-by-col {
    width: 20%;
}

.ss-last-modified-col {
    width: 20%;
}

.ss-grip-col {
    width: 5%;
}

.ss-alpha-sort-col {
    width: 1%;
}

.ss-folder-icon-col {
    width: 1%;
}


@media screen and (max-width: 835px) and (min-width: 565px) {
    .ss-last-modified-col {
        display: none;
    }
}

@media screen and (max-width: 565px) {
    .ss-last-modified-col {
        display: none;
    }

    .ss-owned-by-col {
        display: none;
    }
}

.ss-course-list-table tr{
    line-height: 40px;
}
