/* 57 + 20 + 20 + 3 */
.ss-title-col {
    width: 57%;
}

.ss-owned-by-col {
    width: 20%;
}

.ss-last-modified-col {
    width: 20%;
}

.ss-grip-col {
    width: 1%;
}

.ss-alpha-sort-col {
    width: 1%;
}

.ss-folder-icon-col {
    width: 1%;
}


@media screen and (max-width: 1225px) and (min-width: 1045px) {
    .ss-folder-icon-col {
        display: none;
    }

    .ss-alpha-sort-col {
        display: none;
    }
}

@media screen and (max-width: 1045px) and (min-width: 835px) {
    .ss-alpha-sort-col {
        display: none;
    }

    .ss-grip-col {
        display: none;
    }
}

@media screen and (max-width: 835px) and (min-width: 565px) {
    .ss-alpha-sort-col {
        display: none;
    }

    .ss-grip-col {
        display: none;
    }

    .ss-last-modified-col {
        display: none;
    }
}

@media screen and (max-width: 565px) {
    .ss-alpha-sort-col {
        display: none;
    }

    .ss-grip-col {
        display: none;
    }

    .ss-last-modified-col {
        display: none;
    }

    .ss-owned-by-col {
        display: none;
    }
}
