.container-fluid {
    padding: 0;
}

.ss-editor-container {
    max-width: 100%;
    padding: 0;
    margin-top: -70px !important;
    overflow: hidden;
    height: 100% !important;
}

.ss-sticky-header {
    background-color: #4c5154;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    --bs-gutter-x: 0;
    margin-left: 0;
    margin-right: 0;
}

.ss-brand-title-header {
    padding-left: 20px;
}

.ss-brand {
    color: #d9d9d9;
}

.ss-brand-title-header a.ss-brand:hover {
    color: #f9fdfd;
}

.ss-cancel-icon {
    padding: 10px;
    color: #d9d9d9;
    text-decoration: none;
}

.ss-brand-title-header a.ss-cancel-icon:hover {
    color: #f9fdfd;
}

.ss-nav-pills a {
    color: #d9d9d9;
}

.ss-nav-pills a:hover {
    color: #f9fdfd;
}

.ss-topics-nav {
    padding-top: 20px;
    padding-left: 10px;
}

.ss-module-col {
    width: 25%;
}

.ss-module-list-col {
    background-color: #373b3d;
}


ul.ss-module-list-group {
    background-color: #373b3e;
    margin: 20px 0;
}

.ss-module-list-group-item {
    border: 0;
    margin: 10px 10px 10px 10px;
    background-color: #4c5154;
    border-radius: 7px;
}

.ss-module-list-group-item.active {
    background-color: #aaaaaa;
    margin-top: 10px !important;
}

.ss-module-link.active {
    background-color: #4890e4;
}

.ss-link {
    text-decoration: none;
    color: #d9d9d9;
}

.ss-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.ss-module-delete-icon {
    padding-top: 5px;
}

.ss-module-link a.ss-module-delete-icon-link:hover {
    color: #990000;
}

.ss-plus-icon {
    color: #f9fdfd;
}

.ss-lesson-plus-icon {
    vertical-align: center;
    margin-left: 15px;
    margin-top: 10px;
}

.ss-module-plus-icon {
    padding: 10px;
    margin-left: 20px;
}

.ss-module-plus-icon-list {
    background-color: #373b3e !important;
}

.ss-module-link {
    display: block;
    padding: 15px;
    background-color: #4c5154;
    color: #e7ecef;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.ss-lesson-nav-item {
    margin-left: 10px;
    margin-top: 10px;
}

.ss-topics-nav-item {
    background-color: #7a7a7a;
    margin-left: 10px;
    border-radius: 5px;
}

.ss-topics-nav .ss-topics-nav-item-link.active {
    background-color: #484848;
}

.ss-ie-edit-icon {
    vertical-align: center;
    margin-top: 3px;
    padding-left: 10px;
}

.ss-ie-times-icon {
    margin-top: 5px;
    padding-left: 10px;
    color: red;
}

.ss-ie-check-icon {
    color: green;
    margin-top: 5px;
    margin-right: 5px;
    padding-left: 10px;
}

.ss-ie-title {
    color: black;
}

.ss-widget-list-group {
    padding-left: 10px;
    padding-top: 20px;
    margin-right: 20px;
}

.ss-widget-form {
    margin-top: 20px;
    margin-bottom: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.ss-widget-form .clear {
    clear: both;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.fa-widget-add-icon {
    margin-right: 30px;
}